@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    background: linear-gradient(to right,#99004d 0% ,#ff0080 100%);
}
.container{
    background: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0,0,0,10);
}
.container form .title{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}
.container form .title::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 37px;
    bottom: 3px;
    left: 0;
    border-radius: 5px;
    background: linear-gradient(to right,#99004d 0% ,#ff0080 100%);
}
.container form .input-box{
   width: 100%;
   height: 45px;
   margin-top: 25px;   
}
.container form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
    position: relative;
}
.container form .underline:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 289px;
    background: #ccc;
    background: linear-gradient(to right,#99004d 0% ,#ff0080 100%);
}
.container form .button{
    margin: 40px 0 20px 0;
}

.container form .input-box [type="Submit"]{
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to right,#99004d 0% ,#ff0080 100%);
    transition: all 0.3s ease 
}

.container form .input-box [type="Submit"]:hover{
    letter-spacing: 1px;
    background: linear-gradient(to left,#99004d 0% ,#ff0080 100%);
}
.container .option{
    font-size: 14px;
    text-align: center;
}
.container .Facebook a,
.container .Instagram a{
    width: 100%;
    height: 45px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
}
.container .Facebook a{
    background: linear-gradient(to left,#3b5998 0% ,#476bb8 100%);
}
.container .Instagram a{
    background: linear-gradient(to left,#99004d 0% ,#ff0080 100%);
}
